
.small_photo {

	width: 300px;
}


.big_photo {

	width: 500px;
	height: 100%;
}


img {

	height: auto;
	max-width: 100%;
}

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #0077cc; 
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: start; 
  }
  header img {
    width: 50px;
  }
  header h1 {
    flex-grow: 1; 
    text-align: center; 
    margin: 0 20px; 
  }
  .content {
    display: flex;
    padding: 20px;
    justify-content: space-around;
  }

  .text {
    width: 45%; 
    text-align: left;
  }
  .attractions {
    padding: 20px;
    font-size: 1.1em;
  }

    .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns layout */
    gap: 20px; /* Increase gap for spacing */
    padding: 20px; /* Padding around the grid */
    justify-items: center; /* Center items horizontally */
  }
  .grid-item {
    text-align: center;
    width: 80%; /* Reducing width to make images smaller */
    margin: 10px; /* Margin around items for spacing */
  }
  .grid-item img {
    filter: sepia(20%);
    border-radius: 8px;
  }
  .map-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .map-container img {
    max-width: 100%; /* Ensure map scales to fit its container */
    height: auto;
  }